head
  script(src='/javascripts/bootstrap.js')
  script(src='/javascripts/jquery.montage.js')
  script(src='/javascripts/loadphotos.js')
  link(rel='stylesheet', href='/stylesheets/bootstrap.css') 

div.container
  div.content
    div.am-container
      
