html
  body
   h1 holy crap pictures
     form(id='uploadForm', enctype='multipart/form-data', method='post', action='/api/photo')
       input(name='photo', id='userPhotoInput', type='file')
       input(name='submit', type='submit', value='submit')
